#                                                                              #
#                            ZAIZU's git configs                               #
#                                                                              #

# aliases
[include]
    path = .gitconfig_aliases

[push]
    default = simple
[pull]
    ff = only

#[rerere]
#    enabled = true

# colors
[include]
    path = .gitconfig_colors

[includeIf "gitdir:~/_WORK/"]
    path = .gitconfig.user

[includeIf "gitdir:~/_tresh/"]
    path = .gitconfig_tresh
