##                                                                            ##
##                            ZAIZU's git configs                             ##
##                                                                            ##
[pretty]
        llformat = format:%C(130)%ad%Creset %C(214 94)%h%Creset %s%Creset %C(94)[ %an ]%Creset %C(auto)%d%Creset %Cgreen(%cr)%Creset

[alias]
    last = log -1 HEAD
    lasd = diff HEAD^ HEAD
      st = status -sb
       l = log --oneline --graph --decorate
      ll = log --graph --pretty=llformat --abbrev-commit --date=short
      co = checkout
    repo = config --get remote.origin.url
      br = branch -a

#clean -xdf

## get remote revision
# echo $(git ls-remote $(git rev-parse --abbrev-ref @{u} | sed 's/\// /g') | cut -f1)

      # show changed files for a commit
      cf = show --pretty="format:" --name-only

     day = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --after=\"yesterday 11:59PM\" --author=\"`git config --get user.name`\"'"

   # show number of commits per contributor, sorted
   count = shortlog -sn
   amend = commit --amend -C HEAD

[push]
    default = simple

#[rerere]
#    enabled = true

[color]
    ui = true

[color "decorate"]
    branch = 220 58
    remoteBranch = 220 94
    tag = 190 58
    stash = 183 54
    HEAD = 202 52

[color "diff"]
    plain =
    meta = 16 214
    frag = 16 208
    func = 208
    old = 202 52
    new = 190 58
    whitespace = 52 227

[color "branch"]
    plain = 214
    upstream = 154
    current = 16 214
    local = 214
    remote = 184

[color "status"]
    added = 208 22
    header =
    changed = 226 94
    updated = 190 58
    untracked = 202 52
    branch = 16 214

[include]
    path = .gitconfig.user
