[submodule "urxvt/perl_ext/tabbedex"]
	path = urxvt/perl_ext/tabbedex
	url = https://github.com/shaggytwodope/tabbedex-urxvt.git
[submodule "mocp/mocp-scrobbler"]
	path = mocp/mocp-scrobbler
	url = https://github.com/fluxid/mocp-scrobbler.git
