[alias]
    last = log -1 HEAD
    lasd = diff HEAD^ HEAD
      st = status -sb
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
       l = log --oneline --graph --decorate
      ll = log --graph --pretty=format:'%C(16 208)%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
      co = checkout
    repo = config --get remote.origin.url
      br = branch -a

#clean -xdf

## get remote revision
# echo $(git ls-remote $(git rev-parse --abbrev-ref @{u} | sed 's/\// /g') | cut -f1)

      # show changed files for a commit
      cf = show --pretty="format:" --name-only
      
     day = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --after=\"yesterday 11:59PM\" --author=\"`git config --get user.name`\"'"

   # show number of commits per contributor, sorted
   count = shortlog -sn
   amend = commit --amend -C HEAD

[push]
    default = simple

#[rerere]
#    enabled = true

[color]
    ui = true

[color "decorate"]
    branch = 220 58
    remoteBranch = 220 94
    tag = 190 58
    stash = 141 53
    HEAD = 196 52

[color "diff"]
    plain = 221
    meta = 222 130
    frag = 16 221
    func = 222 94
    old = 196 52
    new = 154 22
    whitespace = 52 208

[color "branch"]
    plain = 221
    upstream = 154
    current = 222 130
      local = 222
     remote = 208

[color "status"]
    added = 208 22
    header = 222
    changed = 220 94
    updated = 154 22
    untracked = 196 52
    branch = 16 208

[include]
    path = .gitconfig.user
